*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,h2{
   font-weight: bolder;
   font-size: 5vw;
color:white;
}
h1{
    margin-left: 5rem;
    font-family: 'Nunito', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
h2{
    margin-top: 8rem;
}
